<%- include ("partials/header");-%>
<h1>Select Section</h1>


<div class="alert alert-light" role="alert">
    <a href="/csphy" class="alert-link">A</a>
 </div>

 <div class="alert alert-light" role="alert">
   <a href="/cscpp" class="alert-link">B</a>
</div>








