<%- include ("partials/header");-%>

<h1>Upload</h1>
<form class="" action="/upload" method="post">
  <div class="form-group">
   
    <label>Details:</label>
    <input class="form-control form-control-sm" type="text" placeholder="Detail Of Solution" name="details">
    <label>Topic:</label>
    <input class="form-control form-control-sm" type="text" placeholder="Topic Of Solution" name="topic">
    <label>Post:</label>
    <input class="form-control form-control-lg" type="text" placeholder="Paste Link"  name="post">
  </div>
  <button class="btn btn-primary" type="submit" name="button">Submit</button>
</form>




<%- include ("partials/footer");-%>


